html {
  font-family: "Averia Serif Libre";
  background-color: #000;
}

main {
  margin-top: 30%;
}

h1 {
  color: #b5eac6;
  font-size: 4em;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

@media only screen and (min-width: 38em) {
  main {
    margin-top: 20%;
  }

}

@media only screen and (min-width: 60em) {
  main {
    margin-top: 10%;
  }

}
